.Board {
  width: 100%;
  position: relative;

  .branches {
    font-size: 2.5em;
  }

  &:nth-of-type(1) {
    font-size: 2.5em;
  }

  section {
    box-sizing: border-box;
    padding: 20px;
    display: flex;
    flex-direction: row;
    gap: 20px;
    flex-wrap: wrap;
  }

  .productsList {
    box-sizing: border-box;
    position: absolute;
    top: 0;
    background-color: $primary-alpha;
    backdrop-filter: blur(10px);
    padding: 20px;
    height: 100%;
    width: 90%;
    overflow-y: scroll;
    margin-top: 20px;
    z-index: 5;

    div {
      border: solid black 1px;
      background-color: $secondary;
      margin-bottom: 20px;
      height: 100px;
      width: 95%;
      border-radius: 20px;
      border-top: none;
      border-right: none;

      display: flex;
      align-items: center;
      gap: 30px;

      .deleteProduct {
        width: 0px;
        overflow: hidden;
        transition: all 0.3s ease;
        cursor: pointer;

        &:hover {
          color: $primary-button;
        }
      }

      &:hover {
        .deleteProduct {
          width: 100px;
        }
      }

      h1 {
        width: 200px;
      }

      img {
        box-sizing: border-box;
        height: 90%;
        width: 80px;
        padding: 20px;
        object-fit: contain;
      }

      h4 {
        max-width: 500px;
      }

      .price {
        padding: 10px;
        flex-grow: 1;
        text-align: end;
        margin-right: 20px;
      }
    }

    .closeProductsList {
      position: absolute;
      top: 10px;
      right: 10px;
      z-index: 10;

      height: 40px;
      width: 40px;

      border-radius: 50%;
      cursor: pointer;
      background-color: $primary-button;
      color: white;
      border: none;
      text-align: center;
      font-weight: bold;
    }
  }

  .addStoreBtn {
    position: fixed;
    bottom: 0;
    right: 0;
    text-align: center;
    margin: 20px;
    padding: 20px;
    border-radius: 20px;
    background-color: $secondary;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.35);
    transition: all 0.4s ease;

    &:hover {
      transform: scale(1.1);

      button {
        transform: scale(1.3);
        border-radius: 50%;
      }
    }

    button {
      height: 50px;
      width: 50px;
      border-radius: 20px;
      border: none;
      background-color: $primary-alpha;
      cursor: pointer;
      transition: all 0.3s ease;
    }
  }
}
