.Board {
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  position: relative;
  padding: 50px;
  background-color: $secondary;

  .branches {
    height: 100%;
    font-size: 2.5em;
    text-align: center;
  }

  section {
    height: 100%;
    box-sizing: border-box;
    padding: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
  }

  .productsList {
    box-sizing: border-box;
    position: absolute;
    top: 0;
    background-color: $primary-alpha;
    backdrop-filter: blur(10px);
    padding: 20px;
    height: 100%;
    width: 90%;
    overflow-y: scroll;
    margin-top: 20px;
    z-index: 5;

    div {
      border: solid black 1px;
      background-color: $secondary;
      margin-bottom: 20px;
      height: 100px;
      width: 95%;
      border-radius: 20px;
      border-top: none;
      border-right: none;

      display: flex;
      align-items: center;
      gap: 30px;

      .deleteProduct {
        width: 0px;
        overflow: hidden;
        transition: all 0.3s ease;
        cursor: pointer;

        &:hover {
          color: $primary-button;
        }
      }

      &:hover {
        .deleteProduct {
          width: 100px;
        }
      }

      h1 {
        width: 200px;
      }

      img {
        box-sizing: border-box;
        height: 90%;
        width: 80px;
        padding: 20px;
        object-fit: contain;
      }

      h4 {
        max-width: 500px;
      }

      .price {
        padding: 10px;
        flex-grow: 1;
        text-align: end;
        margin-right: 20px;
      }
    }

    .closeProductsList {
      position: absolute;
      top: 10px;
      right: 10px;
      z-index: 10;

      height: 40px;
      width: 40px;

      border-radius: 50%;
      cursor: pointer;
      background-color: $primary-button;
      color: white;
      border: none;
      text-align: center;
      font-weight: bold;
    }
  }

  .addStoreBtn {
    position: fixed;
    box-sizing: border-box;
    bottom: 0;
    right: 0;
    text-align: center;
    margin: 20px;
    padding: 20px;
    border-radius: 20px;
    background-color: $background;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.35);
    transition: all 0.4s ease;
    font-size: 2.5em;
    z-index: 5;

    &:hover {
      transform: scale(1.1);

      button {
        transform: scale(1.3);
        border-radius: 50%;
      }
    }

    button {
      height: 50px;
      width: 50px;
      border-radius: 20px;
      border: none;
      background-color: $primary-alpha;
      cursor: pointer;
      transition: all 0.3s ease;

      font-size: 1em;
      color: $accent;

      position: relative;

      & > * {
        transition: all 0.4s ease;
      }

      .closeModalAddStore {
        transform: scale(0.5) rotate(45deg);
        filter: opacity(0);
        position: absolute;
        bottom: -2.2px;
        right: -7.3px;
      }

      .showAnimation {
        filter: opacity(1);
        transform: scale(1.3) rotate(180deg) translate(9.5px, 5.5px);
      }
    }
  }
}
