.Board {
  width: 100%;
  position: relative;
  border: solid red 1px;

  section {
    box-sizing: border-box;
    padding: 20px;
    display: flex;
    flex-direction: row;
    gap: 20px;
    flex-wrap: wrap;
  }

  .productsList {
    box-sizing: border-box;
    position: absolute;
    top: 0;
    background-color: white;
    padding: 20px;
    height: 100%;
    width: 90%;
    overflow-y: scroll;
    margin-top: 20px;
    z-index: 5;

    div {
      border: solid black 1px;
      margin-bottom: 20px;
      height: 100px;
      border-radius: 20px;
      border-top: none;
      border-right: none;

      display: flex;
      align-items: center;
      gap: 30px;

      .deleteProduct {
        width: 0px;
        overflow: hidden;
        transition: all 0.3s ease;
        cursor: pointer;

        &:hover {
          color: blue;
        }
      }

      &:hover {
        .deleteProduct {
          width: 100px;
        }
      }

      h1 {
        width: 200px;
      }

      img {
        box-sizing: border-box;
        height: 90%;
        width: 80px;
        padding: 20px;
        object-fit: contain;
      }

      h4 {
        max-width: 500px;
      }

      .price {
        padding: 10px;
        flex-grow: 1;
        text-align: end;
      }
    }

    .closeProductsList {
      position: fixed;
      top: 120px;
      right: 70px;

      height: 50px;
      width: 50px;

      border-radius: 50%;
      cursor: pointer;
      background-color: #63c2c2;
      color: white;
      border: none;
      text-align: center;
      font-weight: bold;
    }
  }

  .addStoreBtn {
    position: absolute;
    bottom: 0;
    right: 0;
    text-align: center;
    margin: 20px;
    padding: 20px;
    border-radius: 20px;
    background: linear-gradient(#ecf1f8, #a6c2ee);
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.35);

    button {
      height: 50px;
      width: 50px;
      border-radius: 20px;
      border: none;
      background-color: aliceblue;
      cursor: pointer;
    }
  }
}
