.BranchPage {
  position: relative;
  display: flex;
  padding: 60px 0;
  justify-content: center;
  align-items: center;
  padding-top: 20px;

  .container {
    width: 70vw;

    .titleBranch {
      width: 100%;
      position: relative;
      border-top-left-radius: 30px;
      border-top-right-radius: 30px;
      overflow: hidden;

      img {
        width: 100%;
        height: 200px;
        object-fit: cover;
        filter: grayscale(0.4);
      }

      .branchName {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        text-align: center;
        padding-top: 40px;
        color: white;
      }
    }
    .bodyBranch {
      .branchDetail {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
      }

      .branchProductItemContainer {
        border-radius: 30px;
        overflow: hidden;
      }
    }
  }

  button {
    position: absolute;
    bottom: 0;
    right: 0;
  }
}
