.BranchPage {
  height: 100vh;
  position: relative;
  display: flex;
  padding: 60px 0;
  justify-content: center;
  align-items: start;

  .container {
    width: 80vw;

    .titleBranch {
      width: 100%;
      position: relative;
      border-top-left-radius: 30px;
      border-top-right-radius: 30px;
      overflow: hidden;

      img {
        width: 100%;
        height: 200px;
        object-fit: cover;
        filter: grayscale(0.4);
      }

      .editSymbol {
        position: absolute;
        bottom: 30px;
        right: 20px;
        color: white;
        font-size: 1.5em;
        cursor: pointer;

        &:hover {
          color: $primary-button;
        }
      }

      .branchName {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        text-align: center;
        padding-top: 40px;
        color: white;
      }
    }
    .bodyBranch {
      .branchDetail {
        display: flex;
        height: 0;
        align-items: center;
        justify-content: center;
        overflow: hidden;
        transition: height 0.4s ease;

        .editInfoButton {
          border: none;
          border-radius: 30px;
          padding: 0 30px;
          height: 40px;
          transition: opacity 0.4s ease;
          background-color: $primary-button;
          color: $secondary;
          cursor: pointer;

          &:hover {
            background-color: #7270f5;
          }
        }
      }

      .openDetail {
        height: 70px;
      }

      .branchProductItemContainer {
        border-radius: 30px;
        overflow: hidden;
      }
    }
  }

  .addProductButton {
    position: fixed;
    bottom: 30px;
    right: 0;
    height: 50px;
    border: none;
    background-color: $primary-button;
    color: $secondary;
    border-radius: 30px 0 0 30px;
    width: 200px;
    font-weight: bold;
    font-size: 1em;
    cursor: pointer;
    transition: all 0.4s ease;

    &:hover {
      // right: 30px;
      width: 300px;
      right: -10px;
    }

    &:active {
      transform: scale(0.9);
      width: 280px;
      right: -20px;
      border-radius: 10px 0 0 10px;
    }
  }

  .editBranchModalContainer {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background-color: rgba(0, 0, 0, 0.411);
    backdrop-filter: blur(10px);
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .addproductModalContainer {
    position: fixed;
    height: 100vh;
    width: 100vw;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.467);
    display: flex;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(10px);
    transition: all 1s ease;
    cursor: pointer;

    .swipeContainer {
      box-sizing: border-box;
      height: 80%;
      width: 80%;
      background-color: white;
      transform: translate(200px);
      border-radius: 30px;
      cursor: default;
      padding: 20px;
      transition: transform 1s ease;
      overflow-y: scroll;
    }
  }
}
