.ModalForm {
  width: 100%;
  position: relative;
  top: 0;
  right: 0;
  padding-top: 70px;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 4;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  form {
    height: 500px;
    width: clamp(300px, 70vw, 500px);
    border-radius: 10px;
    margin: 0 0 100px;
    padding: 50px 10px;
    background-color: $background;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    gap: 10px;

    label {
      color: $accent;
      margin-bottom: 20px;
      font-weight: bold;
    }

    input:not(.submit),
    select {
      box-sizing: border-box;
      padding: 0 20px;
      height: 60px;
      min-width: 100px;
      width: 90%;
      font-size: 1.5em;
      margin-bottom: 20px;
      border-radius: 10px;
      background-color: $secondary;
      border: none;
    }

    select {
      width: 100%;
      cursor: pointer;
      & {
        option {
          background-color: $primary-button;
        }
      }
    }

    div {
      position: relative;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      .submit {
        box-sizing: border-box;
        height: 50px;
        width: 240px;
        padding: 0 20px;
        letter-spacing: 3px;
        border: none;
        border-radius: 10px;
        background-color: $primary-button;
        color: $secondary;
        cursor: pointer;
        transition: background-color 0.4s ease;
      }
      &:hover {
        input:nth-last-child(2) {
          background-color: $accent;
        }

        hr {
          width: 80%;
          filter: opacity(1);
        }
      }

      hr {
        position: absolute;
        bottom: 0;
        background-color: $secondary;
        width: 0%;
        filter: opacity(0);
        transition: all 0.5s ease;
      }
    }
  }
}
