.Sidebar {
  height: 400px;
  width: 300px;

  ul {
    li {
      margin-bottom: 50px;
      list-style-type: none;
      cursor: pointer;
      border-bottom: solid 1px $primary;
      border-right: solid 1px $primary;
      border-radius: 10px;
      border-bottom-left-radius: 0;
      letter-spacing: 2px;
      transition: all 0.35s ease;

      &:hover {
        color: $accent;
        transform: scale(1.1);
        border-bottom: hidden;
        border-right: hidden;
      }
    }
  }
}
