.Login {
  box-sizing: border-box;
  height: 500px;
  width: clamp(350px, 70vw, 400px);
  background-color: $secondary;
  backdrop-filter: blur(7px);
  padding: 20px;

  border-radius: 10px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.4);

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;

  h3 {
    font-size: 1.5em;
    font-weight: bold;
    color: $primary;
    margin: 0;
  }

  input {
    box-sizing: border-box;
    height: 40px;
    width: 90%;
    font-size: 1em;
    font-weight: bold;
    color: $primary;
    border: none;
    background-color: transparent;
    border-bottom: 2px solid $primary-button;
  }
  span {
    width: 90%;
    text-align: end;
    color: $accent;
    cursor: pointer;
  }

  .username,
  .password {
    padding: 0 20px;
    outline-color: $primary-button;

    &::placeholder {
      color: $primary-button;
    }
  }

  .submitButton {
    margin-top: 30px;
    width: 70%;
    border-radius: 10px;
    border: none;
    background-color: $primary-button;
    color: $secondary;
    cursor: pointer;

    &:hover {
      background-color: #706efd;
    }
  }

  .nota {
    width: 80%;
    margin: 0;
    color: $primary-button;
    font-size: 0.8em;
    text-align: center;
  }
}
