.Login {
  height: 500px;
  width: 400px;
  background-color: $secondary-button;

  border-radius: 20px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.4);

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;

  h3 {
    font-size: 1.5em;
  }

  input {
    box-sizing: border-box;
    height: 40px;
    width: 90%;
    font-size: 1em;
    border-radius: 10px;
    font-weight: bold;
    color: $primary;
  }
  span {
    width: 90%;
    text-align: end;
    color: $accent;
    font-weight: bold;
    cursor: pointer;
  }

  .username,
  .password {
    padding-left: 10px;
    outline-color: $primary-button;
  }

  input:nth-last-child(1) {
    margin-top: 30px;
    width: 70%;
    border-radius: 20px;
    border: none;
    background-color: $primary-button;
    color: white;
    cursor: pointer;

    &:hover {
      background-color: $primary-button-light;
    }
  }
}
