.App {
  height: 100vh;
  margin: 0;
  padding: 0;
  background-color: $secondary;

  h1 {
    margin: 0;
  }

  .content {
    padding-left: 70px;

    @media (max-width: 600px) {
      padding: 0;
    }
  }
}
