$primary: #353535;
$primary-alpha: #35353537;
$secondary: #f2f2f2;
$primary-button: #5a57ff;
$primary-button-light: #34858b;
$secondary-button: #d4e1f2;
$accent: #ff5789;
$background: #f8fafd;

// $text: #353535;
// $background: #cccccc;
// $primary: #5a57ff;
// $secondary: #f5f5f5;
// $accent: #ff5789;
